body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}
.container {
  max-width: 800px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}
h2 {
  color: #3b873f;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-top: 1em;
}
.section-title {
  color: #0077c8;
  font-size: 1.4em;
}
.contact-info {
  margin: 10px 0;
}
.skills-list, .experience-list, .education-list {
  list-style: none;
  padding: 0;
}
.skills-list li, .experience-list li {
  margin-bottom: 5px;
}
a {
  color: #0077c8;
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
/* Thêm phần CSS để thay đổi màu sắc */
.highlight {
  color: #0077c8; /* Màu xanh */
}
.green-text {
  color: #3b873f; /* Màu xanh lá */
}